/*
 * ---- Global ----------------
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}
:root {
    --main-navblue: #71c9ce;
    --main-bodyblue: #e3fdfd;
    --main-gray: #8a8ca5;
}
html {
    font-family: 'Merriweather', serif;
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--main-navblue);
}
h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--main-navblue);
}
h3 {
    font-size: 20px;
    font-weight: 300;
    color: var(--main-navblue);
}
p {
    font-size: 17px;
    color: var(--main-gray);
}
a {
    font-size: 17px;
    color: var(--main-gray);
    text-decoration: none;
}
.wrapper-content {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;
}

/*
 * ---- Nav ----------------
 */
nav {
    position: fixed;
    top: 50px;
    left: 5%;
    line-height: 50px;
    width: 100%;
}

nav a {
    font-weight: 500;
    color:var(--main-navblue);
}

.nav-right {
    position: fixed;
    right: 5%;
    top: 50px;
}

.nav-right a:first-child {
    margin-right: 60px;
}
.rec {
    background-color: var(--main-gray);
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 5px;
}

/*
 * ---- Content ----------------
 */
.landing, .experience-section, .skills-section {
    margin-top: 250px;
    display: flex;
}

.left {
    flex: 1;
    margin-top: 130px;
    position: relative;
}

.right {
    flex: 1;
    position: relative;
}

.im-class {
    font-size: 35px;
    color: var(--main-gray);
}
.title-class {
    font-size: 30px;
    color: var(--main-gray);
}
.title-company {
    font-size: 25px;
}

.experience-section .left {
    float: left;
    margin-top: 0;
}

.experience-section .right {
    float: right;
}

.experience-entry, .skills-entry {
    margin-top: 20px;
    font-size: 35px;
    color: var(--main-gray);
}

.experience-section .experience-entry:first-child {
    margin-top: 0;
}

.company {
    font-size: 25px;
    font-weight: 200;
    color: var(--main-navblue);
}

.experience-entry-year {
    margin-right: 40%;
    font-size: 20px;
    font-weight: 150;
}

.skills-section .left {
    float: left;
    margin-top: 0;
}

.skills-section .right {
    float: right;
}

.skills-section .skills-entry:first-child {
    margin-top: 0;
}

.skills-entry-detail {
    font-size: 20px;
    font-weight: 200;
    color: var(--main-navblue);
}

.find-me {
    display: flex;
    margin-top: 100px;
}
/*
 * ---- Footer ----------------
 */
footer {
    position: fixed;
    margin-top: 50px;
    color: var(--main-gray);
    right: 5%;
    bottom: 70px;
}

.social {
    position: fixed;
    left: 3%;
}

.social > a {
    margin-right: 30px;
}

footer >p, .social > a {
    font-weight: 500;
}
/*
 * ---- Motion ----------------
 */
.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.3s;
}

.delay-4 {
    animation-delay: 0.4s;
}

.delay-5 {
    animation-delay: 0.5s;
}