.body {
	margin-left: 10%;
}

.heading {
	font-family: 'Merriweather', sans-serif;
	margin-left: 10%;
	color: #FFFFFF;
}

.jumbotron {
	background-color: #643b87;
	margin-top: 50px;
}

.introParagraph {
	font-family: 'Droid Serif', serif;
	font-size: 15em;
}

.introText {
	font-size: 10em;
}

.hr {
	margin-left: 0;
	margin-right: auto;
	width: 60%;
	border: 2px solid white;
}

.intro-text {
	margin-right: auto;
	margin-left: 9%;
	max-width: 1200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	line-height: 30px;
}

.section {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 9%;
	color: #574e36;
	font-family:'Merriweather', sans-serif;
}

.section hr {
	margin-left: 0;
	margin-right: auto;
	width: 60%;
	border: 1px solid #574e36;
}

.skills-images {
	margin-left: 5%;
	margin-bottom: 50px;
}

.skills-images li {
	display: inline;
	list-style: none;
	padding: 10px;
}

.skillimagewide {
	max-width: 2000px;
	max-height: 80px;
}

.skillimage {
	max-width: 80px;
	max-height: 80px;
}

.workexp-image {
	display: inline;
	float: left;
	padding: 10px;
	max-width: 300px;
	max-height: 150px;
}

.workexp-desc {
	margin: 10px;
	padding-left: 30px;
	font-family: 'Droid Serif', serif;
	color: #000000;
	font-size: 1.5em;
}

.workexp-item ul {
	margin: 30px;
	font-size: 1.5em;
	color: #000000;
	font-family: 'Merriweather', sans-serif;
}

.workexp-text {
	font-weight: bold;
}

.footer {
	height: 200px;
	color: #FFFFFF;
	background-color: #000000;
}

.project-page-heading {
	margin-left: 10%;
	font-size: 1.5em;
	margin-top: 75px;
	font-family: 'Merriweather', sans-serif;
}

.project-hr {
	margin-left: 0;
	margin-right: auto;
	width: 60%;
	border: 2px solid black;
}

.project-item {
	margin-left: 10%;
}

.project-heading {
	font-family: 'Merriweather', sans-serif;
	#text-decoration: underline;
	font-size: 1.7em;
}

.project-subheading {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.25em;
}

.project-text {
	font-family: 'Droid Serif', serif;
	font-size: 1.25em;
	margin: 20px;
	max-width: 75%;
}

.project-video {
	margin: 5% 10%;
}

.project-text p {
	font-size: 1em;
	text-align: justify;
	text-justify: inter-word;
}

.project-github {
	margin-left: 3%;
}

.project-github img {
	display: inline;
	max-width: 50px;
	max-height: 50px;
}

.contact-section {
	margin: 7%;
	font-size: 1.5em;
}